
.container {
    display: flex;
    flex-direction: row;
    font-family: Univers, Helvetica, Arial, sans-serif;

}

.sidebar {
  width: 20%;
  position: fixed;
  z-index:1;
  top: 0;
  left: 0;
  margin-left: 10px;
  padding-top: 20px;
  overflow-x: hidden;
  padding-left: 20px;
  color: #6776e5;
  display: flex;
  flex-direction: column;
  font-family: Garamond, Times, serif;
}

.main{
  width: 80%;
  margin-top: 30px;
  margin-left: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 28%;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

.twocolumns{
	float: left;
	width: 45%
	padding: 10px;
	height: 150px;
	margin: 35 px;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}

.grid {
  display:grid;
  display-template-columns: auto auto auto;
  gap:30px;
  
}
@media screen and (max-width: 450px) {
  .column {
    width: 100%;}
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }


.secret {
  text-align: right;
}

.name {
  font-size: 25px;
  color: #000000;
  font-family: Garamond, serif;
}

.star {
  color: #29Ce59;
  font-size: 26px;
}

.love {
  font-family: Garamond,serif;
  color: #003300;
  font-size: 18px;
  margin-right: 15px;
  padding-right: 60px;
  line-height: 150%;
}

.artimages {
  font-size: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 5px 0;
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: #5869e8;
}

h1{
  padding-left: 10px;
  color: #000000;
}

h3{
  text-decoration-line: underline;
}

h6{
  padding-left: 10px;
  font-size: 8px;
  color: #778899;
  font-family: Garamond, serif;
}


p.explanation {
  font-size: 18px;
  color: #461961;
  font-style: none;
  font-family: Garamond,serif;
  text-align: center;
}


.explanationname {
  font-size: 50px;
  color: #EE8EEF;
  font-style: italic;
  font-family: Garamond,serif;
}

p.explanation:hover {
  color: #c68eef;
}

.about{
  font-size: 15px;
  color: #E8E8FF;
  font-family: Garamond,serif;
}

.heart {
  z-index: 1;
}

.corner {
    border-radius: 50px;
}

/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat991.cur), auto !important;} /* End http://www.cursors-4u.com */
